## Environment Variables:
##   - $HOST  Full address of the server host, i.e. https://rgv.stevenxie.me.
##   - $API   Full address of the API server, i.e. http://localhost:3000.
##
##   - $TLS_STRATEGY  The TLS (SSL) method to use ('email', 'dns', 'off').
##   - $TLS_EMAIL     Email used for LetsEncrypt SSL certificates.
##   - $TLS_DNS       Used for configuring SSL (e.g. 'cloudflare').

## TLS strategy snippets:
(email) {
	tls {$TLS_EMAIL}
}
(dns) {
	tls {
		dns {$TLS_DNS}
	}
}
(off) {
	tls off
}


## Serve static files from '/srv/'.
{$HOST} {
	import {$TLS_STRATEGY}

	## Rewrite all requests without file extensions to '/'.
	rewrite {
		ext /
		to  /
	}

	## Configure headers.
	header / {
		-Server
	}

	root /srv
}

## Perform a transparent+websocket proxy to $API.
{$HOST}/api {
	import {$TLS_STRATEGY}

	proxy / {$API} {
		without /api # trim '/api' from URL
		websocket
		transparent
	}
}

## Internal healthcheck endpoint. Used to detect if Caddy is online.
localhost:200 {
	status 200 /
}
